<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <h3><%= " WELCOME TO STORE " %></h3>
      <nav>
      </nav>
    </div>
  </div>
</header>